---
http_interactions:
- request:
    method: get
    uri: http://api.nytimes.com/svc/books/v3/lists/overview.json?api-key=8b01ed4851c3f893158515de8b6d8973:13:72350631&callback=books&published_date=2015-05-24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-01.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2015 The New York Times Company.  All
        Rights Reserved.","num_results":185,"results":{"bestsellers_date":"2015-05-09","published_date":"2015-05-24","lists":[{"list_id":704,"list_name":"Combined
        Print and E-Book Fiction","display_name":"Combined Print & E-Book Fiction","updated":"WEEKLY","list_image":"http:\/\/du.ec2.nytimes.com.s3.amazonaws.com\/prd\/books\/9780316407021.jpg","books":[{"age_group":"","author":"James
        Patterson and Maxine Paetro","contributor":"by James Patterson and Maxine
        Paetro","contributor_note":"","created_date":"2015-05-14 12:00:23","description":"A
        video of a shocking crime surfaces, casting suspicion on a San Francisco detective''s
        colleagues.","price":0,"primary_isbn13":"9780316408769","primary_isbn10":"031640876X","publisher":"Little,
        Brown","rank":1,"title":"14TH DEADLY SIN","updated_date":"2015-05-20 20:00:19"},{"age_group":"","author":"Paula
        Hawkins","contributor":"by Paula Hawkins","contributor_note":"","created_date":"2015-05-14
        12:00:23","description":"A psychological thriller set in the environs of London
        is full of complications and betrayals.","price":0,"primary_isbn13":"9780698185395","primary_isbn10":"0698185390","publisher":"Riverhead","rank":2,"title":"THE
        GIRL ON THE TRAIN","updated_date":"2015-05-20 20:00:19"},{"age_group":"","author":[...]
