---
http_interactions:
- request:
    method: get
    uri: http://api.nytimes.com/svc/books/v3/lists/overview.json?api-key=8b01ed4851c3f893158515de8b6d8973:13:72350631&callback=books&published_date=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2015 The New York Times Company.  All
        Rights Reserved.","num_results":195,"results":{"bestsellers_date":"2015-06-13","published_date":"2015-06-28","lists":[{"list_id":704,"list_name":"Combined
        Print and E-Book Fiction","display_name":"Combined Print & E-Book Fiction","updated":"WEEKLY","list_image":"http:\/\/du.ec2.nytimes.com.s3.amazonaws.com\/prd\/books\/9781594633669.jpeg","books":[{"age_group":"","author":"Paula
        Hawkins","contributor":"by Paula Hawkins","contributor_note":"","created_date":"2015-06-18
        12:00:27","description":"A psychological thriller set in the environs of London
        is full of complications and betrayals.","price":0,"primary_isbn13":"9780698185395","primary_isbn10":"0698185390","publisher":"Riverhead","rank":1,"title":"THE
        GIRL ON THE TRAIN","updated_date":"2015-06-19 11:40:20"},{"age_group":"","author":"Andy
        Weir","contributor":"by Andy Weir","contributor_note":"","created_date":"2015-06-18
        12:00:27","description":"Abandoned by his crew, an astronaut embarks on a
        dogged quest to stay alive.","price":0,"primary_isbn13":"9780804139038","primary_isbn10":"None","publisher":"Crown","rank":2,"title":"THE
        MARTIAN","updated_date":"2015-06-19 11:40:20"},{"age_group":"","author":"Stephen
        King","contributor":"by Steph[...]
