  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">CoverToCover</a>
<!--       <ul class="right hide-on-med-and-down">
        <li><a href="#">Bookclubs</a></li>
      </ul> -->

      <a class='dropdown-button btn right hide-on-med-and-down' href='#' data-activates='dropdown1'>Bookclubs</a>

    <ul id='dropdown1' class='dropdown-content'>

    <li><%= link_to "Mark Zuckerberg", bookclub_index_path %></li> 
    <li><%= link_to "Oprah's Club", bookclub_oprah_path %></li> 
    <li class="divider"></li>
    <li><%= link_to "Top 100 All Time", bookclub_index_path %></li> 
    <li><%= link_to "NYT Best Seller", bookclub_index_path %></li> 
    </ul>



      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>