.maxie{
  max-height: 200px;
  min-height: 200px;
}

.minie img{
  min-width: 100px;
  min-width: 100px;
  max-height: 200px;
  min-height: 200px;
  overflow: scroll;
}



h1{
  color: #4db6ac !important;
}

.prime-color{
    color: #4db6ac !important;
}


h3{
  color: #00695c !important;
}