.maxie{
  max-height: 200px;
  min-height: 200px;
}

.minie img{
  min-width: 100px;
  min-width: 100px;
  max-height: 200px;
  min-height: 200px;
  overflow: scroll;
  padding-top: 8px;
  padding-bottom: 8px;
}

h3{
  font-family: 'Quicksand', sans-serif;
}

.font1 {
  font-family: 'Quicksand', sans-serif;
}

.font2 {
  font-family: 'Source Code Pro', ;
}

.font3 {
  font-family: 'Kaushan Script', cursive;
}

.title-font{
  font-size: 16px;
}

.author-font{
  font-size: 12px;
}

em{
  font-size: 12px;
}

h1{
  color: #4db6ac !important;
}

.prime-color{
    color: #4db6ac !important;
}


h3{
  color: #00695c !important;
}